html{
    scroll-behavior: smooth;

}
body{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}

.navbar-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3d59;
    color: #fff;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
}

.logo-area{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area h1{
    color: #f5c518;
    font-size: 22px;   
}

.logo{
    width: 60px;
    height: auto;
    margin: 15px auto 15px;
    border-radius: 50px;
}

.navbar-home ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

.navbar-home ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-home ul li a:hover{
    color: #f5c518; 
}

.navbar-home ul li a.active{
    color: #f5c518 !important;
}

.login-btn{
    background-color: #f5c518;
    color: #1e3d59;
    padding: 8px 50px;
    border-radius: 5px;
    margin-right: 80px;
}

.login-btn:hover{
    background-color: #d4a915;
}

.hero{
    background-color: #f4f6f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 70px 60px;
    box-sizing: border-box;
}

.hero-content{
    max-width: 50%;
    color: #1e3d59;
    text-align: center;
}

.hero-content h2{
    font-size: 38px;
    line-height: 1.2;
    text-align: center;
}

.hero-content span{
    color: #f5c518;
}

.hero-content p{
    font-size: 18px;
    margin: 20px 40px 30px;
    color: #333;
    max-width: 500px;
    text-align: center;
    justify-content: center;
}

.hero-img img{
    width: 350px;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    margin-top: 80px;
    justify-content: flex-start;
}

.button{
    background-color: #f5c518;
    color: #1e3d59;
    padding: 10px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.about-text {
    flex: 1;
    text-align: justify;
    padding-left: 150px;
}

.about-text strong{
    color: #f5c518;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.about-title h2{
    color: #1e3d59;
    margin-bottom: 20px;
    text-align: center;
}

.layanan{
    padding: 80px 50px;
    background-color: #f4f6f8;
    text-align: center;
}

.layanan h2{
    color: #1e3d59;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex-wrap: nowrap; 
}

.card {
    flex: 1;
    min-width: 200px;
    background: #c9d7f3;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card i {
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #3205ac; 
}


.card h3{
    color: #295c8a;
    margin-bottom: 10px;
}

.produk-terbaru {
    padding: 50px 80px;
    text-align: center;
}

.produk-terbaru h2{
    color: #1e3d59;
    margin-bottom: 30px;
}

.produk-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produk-card {
    width: 230px;
    background: #c9d7f3;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.produk-card h3{
    color: #295c8a;
}

.produk-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.produk-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}


.footer{
    background-color: #295c8a;
    color: #fff;
    padding: 50px 0 10px;
    font-size: 16px;
    text-align: center;
}

.footer span {
    color: #f5c518;
}

.footer-container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10%;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin: 6px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.footer-section ul li a:hover {
    opacity: 1;
    text-decoration: none;
    color: #f5c518; 
}

.social-links a {
  font-size: 15px;
  margin: 0 10px;
  text-decoration: none;
}

.social-links i {
    font-size: 20px;
    color: #fff;
}

.social-media a:hover {
  color: #f5c518; 
}


.footer-bottom {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 10px;
    border-top: 1px solid rgba(255,255,255,0.2);
    opacity: 0.9;
    text-align: center;
    font-size: 14px;
}

.lihat-semua {
    text-align: center;
    margin-top: 20px;
}

.btn-lihat-semua {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn-lihat-semua:hover {
    background-color: #0056b3;
}

.container {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container h2{
    color: #1e3d59;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}

.filter-barang {
    text-align: center;
    margin-bottom: 30px;
}

.filter-barang form {
    display: inline-block;
}

.filter-barang input, 
.filter-barang select, 
.filter-barang button {
    padding: 8px 12px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
}

.filter-barang input:focus, 
.filter-barang select:focus{
    border-color: #f9c300 !important;
    outline: none !important;
    box-shadow: 0 0 6px rgba(249,195,0,0.4) !important;
}

.filter-barang button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.filter-barang button:hover {
    background-color: #0056b3;
}

.pagination-custom {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  gap: 4px;
  justify-content: center;
  margin-top: 30px;

}

.pagination-custom .page-item {
  display: inline;
}

.pagination-custom .page-link {
  position: relative;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #dee2e6;
  color: #0d6efd;
  border-radius: 6px;
  background: #fff;
  min-width: 44px;
  text-align: center;
}

/* active */
.pagination-custom .page-item.active .page-link {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

/* disabled */
.pagination-custom .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background: #f8f9fa;
  border-color: #dee2e6;
}

/* hover */
.pagination-custom .page-link:hover {
  background: #e9f2ff;
  text-decoration: none;
}