body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #f4f6f8;
    min-height: 80vh;
    overflow-x: hidden;
}

.main-content {
    margin-left: 260px;
    padding: 90px 30px 40px ;
}

.navbar{
    position: fixed;
    top: 0;
    left: 260px;
    right: 0;
    height: 60px;
    background: linear-gradient(120deg, #0b3557, #4478a3, #384c5c);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.navbar-left h3{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-right span {
    font-weight: 500;
    color: #fff;
}

/* === FOTO PROFIL === */
.profile-photo {
    width: 50px;           /* lebih besar */
    height: 50px;          /* lebih besar */
    border-radius: 50%;    /* bulat sempurna */
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ddd;
    transition: 0.2s;
}

.profile-photo:hover {
    transform: scale(1.05);
}

/* === CONTAINER DROPDOWN === */
.profile-dropdown {
    position: relative;
    margin-left: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background: #f5c518;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 100;
    list-style: none;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-item {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background: #f5f5f5;
}

.dropdown-logout {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
    background: #f5c518;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
}

.dropdown-logout:hover {
    background: #d4a915;
}

.form-container {
    width: 480px;
    background: #c7dbf0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
    border-left: 7px solid #0d47a1;
    margin: auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d47a1;
    font-size: 22px;
    font-weight: bold;
}

.form-container label {
    font-weight: bold;
    font-size: 14px;
    color: #0d47a1;
    margin-bottom: 5px;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 10px;
    border-radius: 8px;
    border: 2px solid #e1e1e1;
    transition: 0.25s;
    box-sizing: border-box;
}

.form-container select {
    margin-top: 10px; 
    margin-bottom: 10px;
}


.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    border-color: #f9c300;
    outline: none;
    box-shadow: 0 0 6px rgba(249,195,0,0.4);
}

.btn-user {
    display: inline-block;
    padding: 7px 10px;
    background: #002a7f;
    color: #fff;
    border-radius: 6px;
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
}

.btn-user:hover {
    background: #001f5a;
}

.btn-update {
    flex: 1;
    background: #0d47a1;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

.btn-update:hover {
    background: #396a96;
}

.btn-back{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background: #f5c518;
    padding: 8px 10px;
    color: #000;
    border-radius: 8px;
    transition: .25s;
    font-weight: 500;
}

.btn-back:hover {
    background: #d4a915;
}  

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
}

input[type="file"]:focus{
    border-color: #f9c300;
    outline: none;
    box-shadow: 0 0 6px rgba(249,195,0,0.4);
}

.foto-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0 20px;
}

.foto-saat-ini, .ganti-foto {
    text-align: center;
}

.preview-foto {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #f9c300;
    margin-top: 8px;
}

.file-input {
    width: 200px;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 8px;
}

.text-danger.small {
    font-size: 13px;
    margin-top: 3px;
    color: #ff4646;
}

.profile-container {
    width: 600px;
    max-width: 700px;
    margin: 50px auto;
    background: #fff;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;
    border-right: 7px solid #007bff ;
}

.profile-header {
    text-align: center;
    margin-bottom: 15px;
}

.profile-header img {
     width: 150px;
     height: 180px;
     border-radius: 10%;
     object-fit: cover;
     border: 2px solid #007bff;
}

.profile-info label {
    font-weight: 600;
    color: #333;
}

.profile-info p {
     margin-bottom: 10px;
     color: #555;
}

.btn-edit {
     background: #007bff;
     color: #fff;
     padding: 8px 15px;
     border: none;
     border-radius: 8px;
     text-decoration: none;
     font-weight: 500;
}

.btn-edit:hover {
    background: #0056b3;
}