body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #f4f6f8;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    top: 0;
    left: 260px;
    right: 0;
    height: 60px;
    background: linear-gradient(120deg, #0b3557, #4478a3, #384c5c);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.navbar-left h3{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-right span {
    font-weight: 500;
    color: #fff;
}

/* === FOTO PROFIL === */
.profile-photo {
    width: 50px;           /* lebih besar */
    height: 50px;          /* lebih besar */
    border-radius: 50%;    /* bulat sempurna */
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ddd;
    transition: 0.2s;
}

.profile-photo:hover {
    transform: scale(1.05);
}

/* === CONTAINER DROPDOWN === */
.profile-dropdown {
    position: relative;
    margin-left: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background: #f5c518;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 100;
    list-style: none;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-item {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background: #f5f5f5;
}

.dropdown-logout {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
    background: #f5c518;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
}

.dropdown-logout:hover {
    background: #d4a915;
}


.content {
    margin-left: 250px;
    padding: 30px;
    margin-top: 60px;
    flex: 1;
}

.content h1{
    margin-bottom: 40px;
    color: #333;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.card.karyawan{
    border-left: 8px solid #007bff;
}

.card.penjualan{
    border-left: 8px solid #28a745;
}

.card.stok{
    border-left: 8px solid #ffc107;
}

.card.karyawan:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.20);
}

.card.penjualan:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(40, 167, 69, 0.20);
}

.card.stok:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(255, 193, 7, 0.20);
}

.card h3 {
    color: #295c8a;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0;
}
