body{
    font-family: Poppins, sans-serif;
}
.sidebar {
    width: 220px;
    background-color: #1e3d59;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2{
    text-align: center;
    margin-bottom: 8px;
    color: #f5c518;
    padding-bottom: 8px;
    border-bottom: 1px solid #f5c518;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    margin: 8px 0;
    margin-left: 10px;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 10px;
    display: block;
    transition: backround-color 0.3s;
    border-radius: 8px;
}

.sidebar ul li a:hover, .sidebar ul li :active{
    background-color: #295c8a;
}

.sidebar ul li a.active {
    background-color: #295c8a !important;
}

.sidebar i {
    margin-right: 10px;
    font-size: 18px;
    transition: 0.3s ease;
}


.logo{
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto 15px;
    border-radius: 50px;
    margin-bottom: 8px;
}

.footer{
    background: linear-gradient(120deg, #1c7ece, #4478a3, #384c5c);
    color: #fff;
    text-align: center;
    padding: 15px 0px;
    font-size: 14px;
    margin-top: 25px;
    width: calc(100% + 250px);
    margin-left: 0;
    margin-bottom: 0;
}

.footer span {
    color: #f5c518;
}